* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.gallery {
  display: ;
  flex-wrap: wrap;
}
#td3{
  color:#00000000;
}
#p8 {
    color: white;
    background-color: rgb(35 35 35 / 89%);
    border-radius: 90px;
    border: 2px #795a06 outset;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    height: 10px;
    top: px;
    text-align: center;
    margin-top: px;
}
}


.modal {
    --bs-modal-zindex: 1055;
    --bs-modal-width: 500px;
    --bs-modal-padding: 1rem;
    --bs-modal-margin: 0.5rem;
    --bs-modal-color: ;
    --bs-modal-bg: var(--bs-body-bg);
    --bs-modal-border-color: var(--bs-border-color-translucent);
    --bs-modal-border-width: var(--bs-border-width);
    --bs-modal-border-radius: var(--bs-border-radius-lg);
    --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075);
    --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
    --bs-modal-header-padding-x: 1rem;
    --bs-modal-header-padding-y: 1rem;
    --bs-modal-header-padding: 1rem 1rem;
    --bs-modal-header-border-color: var(--bs-border-color);
    --bs-modal-header-border-width: var(--bs-border-width);
    --bs-modal-title-line-height: 1.5;
    --bs-modal-footer-gap: 0.5rem;
    --bs-modal-footer-bg: ;
    --bs-modal-footer-border-color: var(--bs-border-color);
    --bs-modal-footer-border-width: var(--bs-border-width);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-modal-zindex);
    display: none;
    width: 100%;
    height: 70%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #0000;
    border-radius: 50px;
    border: px white solid;
    outline: 0;
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
.modal-content img {
  width: 100%;
  height: 80%;
}
.close {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: #000;
    border: 0.25px white solid;
    border-radius: 50px;
}
.thumbnail {
   margin: 1px;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 1em;
}
.close:hover,
.close:focus {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 3px 3px 3px 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/////////////////////////////////////////////////
body, html {
 margin: 0;
 padding: 0;
    
 overflow-x: hidden; 
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: ;
  min-height: 1vh;
}
.row>* {
    flex-shrink: 0;
    max-width: 15%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}
.domin {
      width: 55px;
      height: 50px;
      border-radius: 10px;
    }

.menu {
  display: none;
}
.img{
  width: 250px;
  height: 200px;
  border-radius: 120px;
}
.imge{
  width: 220px;
  height: 200px;
  margin-right: 140px;
 
}
tr{
  border: 15px #00000000 solid;
}
.kok{
  border: 2px #fff solid;
  border-bottom: 4px #fff5f5 outset;
  border-right: 4px #fff8f8 outset;
  border-top: 4px #000000 outset;
}
.bg-dark {
    --bs-bg-opacity: -3;
    background-color: #00000000 !important;
    
}
.bg-danger {
  --bs-bg-opacity: 1;
  background-color: #00000000 !important;
}
.{
  background-image: url;
  background-repeat: no-repeat;
  background-size: 100%;
}
body{
  background-image: url("images/body2.jpg");
  background-repeat: ;
  margin: 0;
  padding: 0;
  
  overflow-x: hidden; 
  background-size: 100%;
  font-family: "Sedan SC", serif;
  font-weight: PX;
  font-style: normal;
}
.modal-content {
  display: block;
  width: 100%;
  max-width: 700px;
  margin-top: 20px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 25px;
  margin-top: -300px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
h1,h2,h3,h5,h6,h7,h8{
  font-family: "Sedan SC", serif;
}
tr,td,th{ font-family: "Sedan SC", serif;}
a {
    color: #fff;
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
    padding: 50px;
    font-family: "Sedan SC", serif;
  font-weight: 200;
  font-style: normal;
}
a:hover{
    background-color: black;
    color: #fff;
    border-radius: 20px;
    font-size: 20px;
    background-size: 100%;
    
}
h6{
 
  font-family: "Sedan SC", serif;
  font-weight: 200;
  font-style: normal;
  
  font-size:10px;

}
#td1 {
  text-align: center;
  padding: px; /* Adjust padding as needed */
  /* Border for demonstration */
}
#td2 {
 
 
  
}

.bg-danger {
    --bs-bg-opacity: 1;
    background-color: #00000061 !important;
}
.container-TAPAS{
  background-image:url();
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}
.container-SALADE{
  background-image: url("");
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}
.container-PIZZAS{
  background-image: );
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}
.container-PASTA{
  background-image:;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}
.container-BURGERS{
  background-image: ;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}
.container-DESSERT{
  background-image: ;
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
}
.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}
#dod{
  width: 10em;
  height: 8em;

}



#dode{
  width: 90%;
  height: 55%;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}
 .fixed-icon {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 1000;
      font-size: 50px;
    }
    .fixed-icon img {
  width: 40px;
  height: auto;
  cursor: pointer; /* Remove background */
}
#a{
    color: #fff;
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    font-family: "Sedan SC", serif;
    font-weight: 100;
    font-style: normal;
}
#Icon{
  width: 25%;
  height: 25%;
}
  body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            box-sizing: border-box;
            overflow-x: hidden; /* Empêche le défilement horizontal */
            overflow-y: auto; /* Assure le défilement vertical */
        }
        *, *:before, *:after {
            box-sizing: inherit;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        table {
            width: 90%;
            table-layout: fixed;
        }
        p {
            word-wrap: break-word;
        }

 
