.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
}
.overlay.visible {
    opacity: 1;
}
.content {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    text-align: center;
    transform: translateY(-100%);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    margin-top: 50rem;
   
}
.content.visible {
    transform: translateY(0);
    opacity: 1;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 16px;
    line-height: 20px;
}
.close-button:hover {
    background-color: #d32f2f;
}

  #image-background {
width: 25rem;
height: 30rem;
position: fixed;
background-size: 65%;
background-position: center;
background-repeat: no-repeat;
transition: background-image 1s;
  }
